ENV=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=

FLYWAY_URL=
FLYWAY_USER=
FLYWAY_PASSWORD=
FLYWAY_SCHEMAS=

FRONTEND_URL=
LOGGING_LEVEL=

JWT_SECRET_KEY=
JWT_ALGORITHM=
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=
JWT_REFRESH_TOKEN_EXPIRE_DAYS=
